@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-color: black;
}

/* Custom styles */
.fade-out {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.hidden {
  display: none;
}
